
<html>
    <head>
        <title>Bimto</title>
       <link rel="stylesheet" href="../public/css/style.css" >
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
         
    </head>
    
        <body>
        
        <section class="header">
    
        <div style="display: flex;">
            <div style="flex-basis: 20%;">
            </div>
            <div style="flex-basis: 6%">
                <nav>
                    <ul><li><a href="#">EN<img style="margin-left: 5px;"  src="../assets/web-elements/arrow_down.svg"></a></li>
                    </ul>
                </nav>
            </div>
            <div style="flex-basis: 42%; ">
            </div>
            <div >
                <nav style="flex-basis: 22%; ">
                    <ul >
                        <li style="display:flex; justify-content:left;">
                            <img style="margin-right:5px" src="../assets/web-elements/profile_close_2.svg">
                            <a href="#"> My profile</b></a> 
                            <img style="margin-right:5px; margin-left: 10px;" src="../assets/web-elements/bag_3.svg">
                            <a href="#">0 Items $0.00</b></a> 
                            <img style="margin-left: 10px;" src="../assets/web-elements/search-icon.svg">
                        </li>
                    </ul>
                </nav>
            </div>
            <div style="flex-basis: 12%; ">
                <nav><ul><li><a href="#">ABOUT US</a></li></ul></nav>
            </div>
    
        </div>
    
            <div class="logo-header"><img style="margin: 20px auto;" src="../assets/images/bimto-logo-web.png" alt="bimto-logo" width="180px" />
            </div>
    
            <style>
                a{text-decoration: none;color: black;
                }
                .bottom-header-child a{font-size: .8em;    
                }
                nav ul .bottom-header-child{display: flex;
                }
             </style>
    
               
            <nav>
                <ul><li class="bottom-header-child"><a href="./index.html"> HOME</a></li>
                    <li class="bottom-header-child"><a class="active" href="#">ABOUT US</a>
                    </li>
                </ul>
            </nav>
             
        </section>
    
        <section class="division-note">
            <div class="about-us">
                
                <p>We are makers ourselves and realised there was no real platform for entrepreneurial, creative makers and artists.  We wanted to create a website where makers could sell their products to people who want to explore and buy things beyond traditional thinking, a wonderland of brilliant ideas.</p>
                <br><p>Let your audience know three things:</p>
                
                <p><b>Who you are </b><br>As makers ourselves we were frustrated with the mounting costs of selling our products through the larger commercial selling websites.  We thought it was time for someone to bring brilliant products to the market in a friendlier, more supportive way.  We are creative designers who value brilliant ideas and want to share them with as many people as possible.  Our fees are transparent and consistent so you know what the cost of selling will be upfront regardless of how many items you sell.</p>
                <p><b>What you do </b><br>We work with artists, inventors, designers and makers to bring their brilliant products to market.</p>
                <p><b>How they can buy from you </b><br>Paint a picture of what it’s like to work with you
                    Starting with a simple low cost subscription paid by direct debit.  As it takes a while to set up the direct debit we will take all payment information upfront to set up the direct debit and then have a two week on-boarding period so we can assess their products and make sure they are a legitimate seller.  We will make personal contact via video conference to see them making the product, ask questions about sustainability, recycling, health & safety, postage and packaging.
                </p>

                <p> &nbsp; 1 – 10 products  <span>&ensp; £5.00 per week</span></p>
                <p>11 - 20 products <span>&ensp; £7.50 per week</span></p>
                <p>21 - 30 products <span>£10.00 per week</span></p>
                <p>31 - 40 products <span>£12.50 per week</span></p>
                <p>41 - 50 products <span>£15.00 per week</span></p>
            
            </div>
            

        </section>