<html>
<head>
   <link rel="stylesheet" href="../public/css/style.css">
   <script src="../public/js/script.js"></script>
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     
</head>

    <body>
    
    <section class="header">
        
        <div class="top-header">  
            
            
        </div>

        <div class="bottom-header">
        </div>

    </section>

    <section class="hero-Section">
    
    </section>

    <section class="section3">

    </section>

    <section class="section4">
        <div class="Advert-with-Image">
            <h1>Print your models</h1>
            Performance and design. Taken right to the edge.
            <p>SHOP NOW</p>
        </div>
        <div class="Advert-with-Image ImgAdvert">
            
        </div>
    </section>

    <section class="section5">
        
    </section>

    <section class="footer">
        <div class="footer-top">
        </div>

        <div class="footer-bottom">
        </div>
        
    </section>
   
   
   
   










   
   
   
   
   
   
    </body>
    </html>