<html>
<head>
    <title>Bimto</title>
   <link rel="stylesheet" href="./style.css" >
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     
</head>

    <body>
    
    <section class="header">

    

    <div style="display: flex;">
        <div style="flex-basis: 20%;">
        </div>
        <div style="flex-basis: 6%">
            <nav>
                <ul><li><a href="#">EN<img style="margin-left: 5px;"  src="./assets/web-elements/arrow_down.svg"></a></li>
                </ul>
            </nav>
        </div>
        <div style="flex-basis: 42%; ">
        </div>
        <div >
            <nav style="flex-basis: 22%; ">
                <ul >
                    <li style="display:flex; justify-content:left;">
                        <img style="margin-right:5px;" src="./assets/web-elements/profile_close_2.svg">
                        <a href="#"> My profile</b></a> 
                        <img style="margin-right:5px; margin-left: 10px;" src="./assets/web-elements/bag_3.svg">
                        <a href="#">0 Items $0.00</b></a> 
                        <img style="margin-left: 10px;" src="./assets/web-elements/search-icon.svg">
                    </li>
                </ul>
            </nav>
        </div>
        <div style="flex-basis: 12%; ">
            <nav><ul><li><a href="#">ABOUT US</a></li></ul></nav>
        </div>

    </div>

        <div class="logo-header">
            <img style="margin: 20px auto;" src="./assets/images/bimto-logo-web.png" alt="bimto-logo" width="180px" />
        </div>

        <style>
            a{
                text-decoration: none;
                color: black;
            }

            .bottom-header-child a{font-size: .8em;

            }

            nav ul .bottom-header-child{
                display: flex;
            }
         </style>

        

         

        <nav>
            <ul >
                <li class="bottom-header-child">
                    <a class="active" href="#">HOME</a>
                </li>
                <li class="bottom-header-child">
                      <a href="#"> GADGET</a>
                </li>
                <li class="bottom-header-child">
                    <a href="#">KITCHEN</a>
                </li>
                <li class="bottom-header-child">
                   <a href="#">  AROUND THE HOME</a>
                </li>
                <li class="bottom-header-child">
                    <a href="#"> LIFE HACKS</a>
                </li>
                <li class="bottom-header-child">
                  <a href="#">LIVING ROOM</a>
                </li>
            </ul>
         </nav>
         
    </section>

    <section class="hero-Section">
        <div class="hero-blend" >
            <img src="./assets/images/1.jpg" alt="3dPrinter" width="100%" class="hero-banner"/>
        </div>
        <div class="hero-banner-note">
            <h1 >
                Brilliant Ideas Made To Order
            </h1>
            <div class="top-searchDiv">
                <form style="display:inline-flex;">
                <input type="text" name="" placeholder="Looking for something?">
                <input type="submit" name="" value="Search"></form>
            </div>
            
        </div>
    </section>

    <section class="section3">
        <section Class="section3-div">
            
        <div class="trendingProduct">
            <img src="./assets/images/9.jpg" class="img-control" width="100%">
        </div>

        <div class="trendingProduct">
            <img src="./assets/images/12.jpg" class="img-control" width="100%">
        </div>

        <div class="trendingProduct">
            <img src="./assets/images/8.jpg" class="img-control"  width="100%">
        </div>
    </section>

    <div style="padding-top:5rem;" class="topCategorySection">
        <h1 style="text-align: center;">TOP CATEGORIES</h1>
    </div>

    <section style="padding:10px;" class="topCategorySection">
        <nav>
            <ul >
                <li class="bottom-header-child">
                    <a class="active" href="#">ALL</a>
                </li>
                <li class="bottom-header-child">
                      <a href="#"> GADGET</a>
                </li>
                <li class="bottom-header-child">
                    <a href="#">KITCHEN</a>
                </li>
                <li class="bottom-header-child">
                   <a href="#">  AROUND THE HOME</a>
                </li>
                <li class="bottom-header-child">
                    <a href="#"> LIFE HACKS</a>
                </li>
                <li class="bottom-header-child">
                  <a href="#">  LIVING ROOM</a>
                </li>
            </ul>
         </nav>
    </section>

    <section style="margin: 40px 0;" class="section3-div1">
            <div class="topProduct">
                <img src="./assets/images/22.jpg" class="img-control-top-cat" width="100%">
                
                <div class="product-label">
                    <h3>BACK TO SCHOOL</h3>
                </div>
            </div>
    
            <div class="topProduct">
                <img src="./assets/images/23.jpg" class="img-control-top-cat" width="100%">
                <div class="product-label">
                    <h3>KITCHEN</h3>
                </div>
            </div>
    
            <div class="topProduct">
                <img src="./assets/images/20.jpg" class="img-control-top-cat" width="100%">
                <div class="product-label">
                    <h3>GADGET</h3>
                </div>
            </div>
            
            <div class="topProduct">
                <img src="./assets/images/24.jpg" class="img-control-top-cat" width="100%">
                <div class="product-label">
                    <h3>BEDROOM</h3>
                </div>
            </div>
    </section>

    <section Class="section3-div1">
        <div class="topProduct">
            <img src="./assets/images/25.jpg" class="img-control-top-cat" width="100%">
            
            <div class="product-label">
                <h3>BATHROOM</h3>
            </div>
        </div>

        <div class="topProduct">
            <img src="./assets/images/5.jpg" class="img-control-top-cat" width="100%">
            <div class="product-label">
                <h3>AROUND THE HOME</h3>
            </div>
        </div>

        <div class="topProduct">
            <img src="./assets/images/7.jpg" class="img-control-top-cat" width="100%">
            <div class="product-label">
                <h3>LIVING ROOM</h3>
            </div>
        </div>
        
        <div class="topProduct">
            <img src="./assets/images/11.jpg" class="img-control-top-cat" width="100%">
            <div class="product-label">
                <h3>EXTRA-X</h3>
            </div>
        </div>
</section>

    <p class="loadmore"><a href="#"> LOAD MORE</a></p>
    
    <section class="section4">
        <div class="Advert-with-Image0">
            <h1 style="margin-bottom: 0px;">Print your models</h1>
            <p>Performance and design. Taken right to the edge.</p>
            <p><a href="#">SHOP NOW</a>
        </div>
        <div class="Advert-with-Image1">
       
          
        </div>
        
    </section>
    

    <section Class="section5-div1">
        <div class="policy">
            <img src="./assets/web-elements/shipping.png" class="img-control-policy" width="30px">
            <h5>FREE SHIPPING</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam ratione nulla eveniet officiis asperiores iure ex iste perferendis 
        </div>

        <div class="policy">
            <img src="./assets/web-elements/refund.png" class="img-control-policy">
            <h5>100% REFUND</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam ratione nulla eveniet officiis asperiores iure ex iste perferendis 
        </div>

        <div class="policy">
            <img src="./assets/web-elements/support.png" class="img-control-policy">
            <h5>SUPPORT 24/7</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam ratione nulla eveniet officiis asperiores iure ex iste perferendis 
        </div>
        
    </section>

    <section class="searchDiv">
    <div>
        <form style="display:inline-flex;">
        <input type="text" name="" placeholder="All Categories">
        <input type="submit" name="" value="Search"></form>
    </div>
    </section>

    
    <section class="footer">
        <div class="footer-top">
            <div class="footer-top-child">
            <img  style="margin-bottom:20px" src="./assets/images/bimto-logo-web.png" width="150px">
            <p>We have made it our mission to share the work of entrepreneurial, creative makers and artists with those who love things that are unique, functional and inspiring.</p>
            <p>So often when trying to buy something unique, the market is flooded with things which look the same.  This is our opportunity to give you gifts, solutions and ideas you hadn&apos;t even thought of.</p>
            <p>Enjoy the experience of shopping in a different way and buying something unique and personal, a brilliant idea made to order.</p>
            
            </div>

            <div class="footer-top-child">
            <h3 >Follow Us</h3>
            <p> Follow us on our social platform
                <a href="#" id="socialicon" class="fa fa-facebook"></a>
                <a href="#" id="socialicon" class="fa fa-instagram"></a>
            </p>
            </div>

            <div class="footer-top-child">
            <h3 >Contact Us</h3>
            <p>In the first instance please contact the seller via the website for any order related queries. </p>
            <p>For anything else you can send us an email at hello@bimto.co.uk and we will get back to you. We aim to respond to all emails within 24 - 48 hours.</p>
            </div>
            </div>
        </div>
        
    

    <div class="seperator"></div>

    
        <div class="footer-bottom">
            <div class="footer-bottom-child">
                <h3>Information</h3>
                <ul><li><a href="#">About Us</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &#38; Conditions</a></li>
                </ul>
            </div>

            <div class="footer-bottom-child">
                <h3 >Services</h3>
                <ul><li><a href="#">About Us</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &#38; Conditions</a></li>
                </ul>
            </div>

            <div class="footer-bottom-child">
                <h3 >Extras</h3>
                <ul><li><a href="#">About Us</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &#38; Conditions</a></li>
                </ul>
            </div>

            <div class="footer-bottom-child">
                <h3 >My Account</h3>
                <ul><li><a href="#">About Us</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &#38; Conditions</a></li>
                </ul>
            </div>

                <div class="footer-bottom-child">
                    <h3 >Useful Links</h3>
                    <ul><li><a href="#">About Us</a></li>
                        <li><a href="#">Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &#38; Conditions</a></li>
                    </ul>
                </div>   
        </div>
        
    </section>

    <section class="footer-floor">
       
        <img src="./assets/web-elements/bimtocopyright.png" >
        <img src="./assets/web-elements/Brands.png">
      
    </section>




     
    </body>
    </html>
